@media screen and (max-width: 1024px){
  body{
    position: fixed;
    top: 30%;
    left: 30%;
    margin-top: -100px;
    margin-left: -200px;
  }
}
body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  width: 800px;
  padding: 10px;
  margin: auto;
}
.addtask{
  display: flex;
  padding: 15px;
}
input{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 10px;
  font-size: 22px;  
} 
.addtask > button{
  width: 20%;
  background: black;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
.notCompleted, .Completed{
  padding: 5px;
}
h3{
  font-size: 28px;
  text-align: center;
  color: black;
}
ol{
  list-style: none;
  counter-reset: c;
}
li{
  width: 100%;
  padding: 18px;
  margin: 5px 0; 
  background: #489cb1bb;
  font-size: 22px;
  counter-increment: c;
} 
.Completed li{
  background: #489cb1bb;
}
li::before{
  content: counter(c);
  background: rgb(9, 23, 31);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.5rem;
  font-size: 12px;
  text-align: center;
  color: white;
  margin-right: 1rem;
}
li button{
  float: right;
  font-size: 28px;
  margin-right: 15px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
